body{margin:0;padding:0;border:none; background-color: #20212b;
    font-family:"Courier New", Courier, 
    monospace; text-align:center; height: 100%;
    width: 100%; overflow: auto;
}

#container{width: 100%;float: left;max-width: 100%; 
    clear: both;height: 100%; overflow: auto;
}

#header{width: 100%;height: 12%;float: left;background-color: #f7b904; 
    border-bottom:10px solid #9e6752;   position: sticky; top: 0;
    background-image: url("https://media.istockphoto.com/id/497802746/photo/gold-paper-texture-background.jpg?s=2048x2048&w=is&k=20&c=VWkYJBuOVvKkf-Kfe1O0-HEhuSFmezyw7pnD2HEgGX4=");
    background-repeat: no-repeat;
    background-size: cover; display: flex; max-height: 12%;
}

#logo{float: left; width: 10%; height: 98%; color: aliceblue; padding-top: 3%;
     background-image: url("https://img1.picmix.com/output/stamp/normal/9/8/5/5/1685589_c27dd.gif");
     background-repeat: no-repeat;
     background-size: cover; max-height: 100%; display: flex;
}

#title{float: left; width: 50%; height: 90%; font-size: 170%; max-height: 100%;
    padding-top: 2%; text-align: left; color:#190019;  display: flex;
    overflow:visible;   white-space: nowrap;
}

#navBar{float: left; clear: both; font-family: Monospace ;
     text-decoration:none; height: 8%; width: 100%; overflow:visible; 
      white-space: nowrap;
    } 

#navBar table{text-align:center; width:30% ;font-size:18px ;
    text-align:center;font-weight:bold; float: right;  white-space: nowrap; clip:auto 
}

#navBar td { padding:1.45%; width:33.333%;

}

#navBar td:hover { background-color:#fbe4d8; text-decoration:underline; color:#522b5b

}

#navBar a {color:#dfb6b2 ;text-decoration:none;

}

#navBar a:visited {color:#dfb6b2

}

#content{width: 100%; font: left; clear: left; display:flex; flex-wrap: wrap; 
    justify-content: flex-start;
    justify-content: center; margin-bottom: 2; height: auto; color: #dfb6b2;
}


#box:hover{transform: scale(1.2); border: 1px solid #dfb6b2;
    border-radius: 10px;
}

#box{width: 250px; height: 250px; margin: 1%; font-size: 24px;font-family: Candara; 
    border: 1px solid #dfb6b2;border-radius: 10px; 
}

#name{background-color: #534145; float: left; color:white; 
    font-weight: bold; opacity: 0;height: 100%; 
    display: flex; 
    justify-content: center; align-items: center;
    max-width: 250px; width: 250px; font-size: 25px;
    border: 1px solid #522b5b; border-radius: 10px;  
} 

#name:hover{opacity: 0.8;filter: blur(0.5px);

} 

#footer{height: 7%;width: 100%;float: left; color:#534145; clear: both; padding-top: 2% ;

}

#ErrorMsG{color:#534145; font-size: 28px; padding-top: 20%; text-align: center;
    justify-content: center; 
}

#artistTitle{float: left; clear: both; width: 100%; text-align: center;

}

#artistImage{width: 250px; height: 250px; margin: 1%; font-size: 24px;font-family: Candara; 
    border: 1px solid #dfb6b2;border-radius: 10px; align-items: center; float: left; clear: both;

}

#info{float: left; clear: both; text-align: left; font-size: 20px; line-height: 1.5; width: 33%; 

}

#info2{float: left; clear: both; text-align: left; font-size: 20px; line-height: 1.5; width: 33%; 

}

#label{color:#9e6752

}

#members{list-style-type: circle;

}

#dates{list-style-type: none;

}

#aboutus{ padding: 10%; width: 80%; font: left; clear: left; font-size: 24px; 
   margin-bottom: 2; height: auto; color: #534145;
 }

#returnBack{float: left;clear: both; width: 50%; text-align: center; align-items: center;

}

#returnBack a {color:#dfb6b2 ;text-decoration:none; font-weight: bold;

}

#returnBack a:hover {color:#dfb6b2 ;text-decoration:underline; font-weight: bold;

}

#homefont{width: 100%;

}
